{
  "parser"  : "babel-eslint",
  "extends": "./node_modules/aurelia-tools/.eslintrc",
  "ecmaFeatures": {
    "modules": true
    },
    "rules": {
      "func-names": 0,
      "no-mixed-spaces-and-tabs": 1,
      "prefer-const": 0,
      "yield-star-spacing": 0,
      "generator-star-spacing": [2, "before"]
    }
}