{
  "parser"  : "babel-eslint",
  "extends": "airbnb/base",
  "ecmaFeatures": {
    "modules": true
    },
    "rules": {
      "func-names": 0,
      "no-mixed-spaces-and-tabs": 1,
      "prefer-const": 0,
      "yield-star-spacing": [2, "before"],
      "generator-star-spacing": [2, "before"]
    }
}